{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/profile.css">
<div class="row container justify-content-around">
    <div class="col col-4">
        <div class="card container">
            <div class="row profile">
                <div class="col col-2">
                    <img class="profile-pic rounded-circle shadow-4-strong" src="{{user.profile_pic}}" alt="No Image Found">
                </div>
                <div class="col ">
                    <h6>{{user.username}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-7">
        <div class="card container">
            <div class="card-body">
                <form id="editprofile" action="/users/{{g.user}}/edit" method="POST">
                    {{ form.hidden_tag() }}
                    {{form.username.label}}
                    {{form.username(placeholder=user.username, class='form-control', autocomplete='off')}}
                    <br>
                    {{form.bio.label}}
                    {{form.bio(placeholder=user.bio, class='form-control')}}
                    <br>
                    Profile Picture
                    {{form.profile_pic(placeholder=user.profile_pic, class='form-control')}}
                    <small>Valid URLs Only</small>
                    <br>
                    <br>
                    Please verify password to submit
                    {{form.password(class='form-control', autocomplete='current-password')}}
                    {% for error in form.password.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                    <br>
                    Confirm Password
                    {{form.confirm(class='form-control', autocomplete='off')}}
                    {% for error in form.confirm.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                    <br>
                    <div class="row justify-content-between">
                        <div class="col-2">
                            <button form="editprofile" class="btn btn-primary">Save</button>
                        </div>
                        <div class="col-3 delete-profile">
                            <a href="/users/{{user.id}}/DELETE" class="dlt-btn btn-danger">Delete Profile</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/static/profile.js"></script>
{% endblock %}